<!DOCTYPE html>
<html>
  <head>
    <title>RGA</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
  </head>
  <body>
	@RenderBody()
</body>
</html>

